/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #9dc20b;
  color: white;
  font-weight: 300;
  padding: 0.425em;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  width: 90%;
  height: 65%;
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

.desktop-logo {
  flex: 1;
  margin-left: 1.875rem;
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #4a4a4a;
  font-weight: 400;
}

header nav ul {
  display: flex;
}

nav li {
  margin-right: 1.875rem;
  font-size: 1rem;
  line-height: 1.6;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1.25rem;
  height: 1.25rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

header .tablet {
  display: none;
}

@media only screen and (max-width: 768px) {
  header .desktop {
    display: none;
  }

  header .tablet {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 0.8em;
  }

  header .mobile {
    display: none;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

@media only screen and (max-width: 425px) {
  header .desktop-logo {
    display: none;
  }
  
  header .desktop {
    display: none;
  }

  header .tablet {
    display: none;
  }

  header .mobile {
    display: flex;
    width: 100%;
    height: 3rem;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url(../images/banner-landingpage.jpg);
  background-size: cover;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin-left: 6.25em;
  margin-top: 10.625em;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

@media only screen and (max-width: 768px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin-top: 170px;
    margin-left: 100px;
  }

  #sign-up-cta .content {
   margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 425px) {
  #sign-up-section {
    height: 25rem;
    align-items: center;
    justify-content: center;
  }

  #sign-up-cta h1 {
    font-size: 2.2rem;
    font-weight: 100;
  }

  #sign-up-cta h2 {
    font-size: 2.5rem;
  }
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: white;
  height: 39.6875rem;
}

.feature .image-container {
  margin: 0 auto;
}

.feature .content {
  margin-top: 2.5em;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

.images-container {
  display: flex;
  margin-top: 5em;
}

.images-container img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .feature {
    height: 30em;
    flex: 1;
  }
  
  .feature h2 {
    font-size: 2rem;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 1px;
  }

  .feature h3 {
    font-size: .9rem;
    line-height: 1.4;
    text-align: left;
  }

  .images-container img {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  #features-section .content {
    text-align: center;
  }

  #features-section h2 {
    font-size: 1.125em;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
  }

  #features-section h3 {
    text-align: center;
    margin-bottom: 1.875em;
  }
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
}

@media only screen and (max-width: 768px) {
  #filters-section {
    padding: 0.5rem 0 0 0;
  }

  #filters-section .content {
    display: flex;
    flex-direction: column;
  }

  #filters-section .content h2 {
    padding-top: 0.7rem;
    line-height: 1.3;
    font-weight: bold;
    margin-top: 1rem;
  }

  #filters-section .content h3 {
    line-height: 1.4;
    font-weight: 100;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  #filters-section .content h2 {
    line-height: 1.3;
    font-weight: 300;
    font-size: 1.5rem;
  }

  #filters-section .content h3 {
    line-height: 1.5;
    font-weight: 100;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }

  #filters-section {
    padding: 0;
}

#filters-section .images-container {
    overflow: hidden;
}
}
/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
}

#quotes-section .content {
  padding: 5rem 0;
}

#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 768px) {
  #quotes-section .content {
    display: flex;
    justify-content: space-around;
    padding: 3.1rem 1rem;
  }

  #quotes-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  #quotes-section content {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 200;
    
  }

  #quotes-section .quote-citation {
    padding-top: 1rem;
    margin: auto;
    display: block;
  }
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.25rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  margin-left: 2em;
}

footer span {
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  footer .content {
    font-size: .625rem;
    font-weight: 100;
  }
}